.h-wrapper {
    color: white;
}

.h-container {
    justify-content: space-between !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    color: var(--secondary);
}

.h-menu {
    gap: 2rem;
}

.h-menu *:hover {
    cursor: pointer;
}
